* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 350px 350px 350px;
  row-gap: 20px;
  column-gap: 20px;
}
.item1 {
  background: url(img/1.jpg) center center no-repeat;
  background-size: cover;
  border: 9px solid #007af3;
  grid-column: 1/8;
  box-shadow: 9px 9px 10px gray;
}
.item2 {
  background: url(img/2.jpg) center center no-repeat;
  background-size: cover;
  border: 9px solid #4a00fb;
  grid-column: 8/11;
  grid-row: 1/3;
  box-shadow: 9px 9px 10px gray;
}
.item3 {
  background: url(img/3.jpg) center center no-repeat;
  background-size: cover;
  border: 9px solid #fad648;
  grid-column: 11/20;
  grid-row: 1/3;
  box-shadow: 9px 9px 10px gray;
}
.item4 {
  background: url(img/4.jpg) center center no-repeat;
  background-size: cover;
  border: 9px solid #44ce7b;
  grid-column: 1/4;
  grid-row: 2/3;
  box-shadow: 9px 9px 10px gray;
}
.item5 {
  background: url(img/5.jpg) center center no-repeat;
  background-size: cover;
  border: 9px solid #161325;
  grid-column: 4/8;
  grid-row: 2/3;
  box-shadow: 9px 9px 10px gray;
}
.item6 {
  background: url(img/6.jpg) center center no-repeat;
  background-size: cover;
  border: 9px solid #a767e5;
  grid-column: 1/4;
  grid-row: 3/3;
  box-shadow: 9px 9px 10px gray;
}
.item7 {
  background: url(img/7.jpg) center center no-repeat;
  background-size: cover;
  border: 9px solid #572c23;
  grid-column: 4/11;
  grid-row: 3/3;
  box-shadow: 9px 9px 10px gray;
}
.item8 {
  background: url(img/8.jpg) center center no-repeat;
  background-size: cover;
  border: 9px solid #c0804d;
  grid-column: 11/15;
  grid-row: 3/3;
  box-shadow: 9px 9px 10px gray;
}
.item9 {
  background: url(img/9.jpg) center center no-repeat;
  background-size: cover;
  border: 9px solid yellow;
  grid-column: 15/20;
  grid-row: 3/3;
  box-shadow: 9px 9px 10px gray;
}
.item3 .cover {
  top: 0;
  left: 0;
  transform: scale(0, 0);
  padding: 50px;
  transition: all 0.5s linear;
}
.item3:hover > div.cover {
  transform: scale(1, 1);
  transform-origin: top left;
}

h1 {
  color: #007af3;
}
h4 {
  color: red;
}
@media screen and (max-width: 970px) {
  .container {
    row-gap: calc(20px / 2);
    column-gap: calc(20px / 2);
  }
  h1 {
    color: red;
  }
  h4 {
    color: #007af3;
  }
}
